

.section-1{
    padding: 1.4vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.Icon > Link{
    margin: 2px 30px;
}


.section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section-box{
    color: white;
    padding: 4rem;
    width: 25%;
}

.section-box > h6{
    padding: 10px 0px;
    font-size: 1.2rem;
    font-weight: 500;

}
.section-box> p{
    font-size: 1rem;
    margin-top: 10px;
}

.section-box > p> a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.section-box > p> a:hover{
    text-decoration: underline;
}

.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

.section-3 > a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding-left: 5px;
}