.paymentPage {
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    margin-left: 0px;
}

  
  .confirmCartItems2 {
    padding: 5vmax;
    padding-top: 2vmax;
  }
  
  .confirmCartItemsContainer2 {
    max-height: 800vmax;
    overflow-y: auto;
  }
  
  .confirmCartItemsContainer2 > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2vmax 1vmax;
  }
  
  .img-container{
    position: relative;
  }
  .img-container> img {
    width: 4vmax;
    border-radius: 10px;
   
  }
  .item-qty{
    position: absolute;
    top:-10px;
    right: 0px;
    font-size: 12px;
    padding: 2px;
    color: #eee;
    background-color: rgb(21, 21, 21);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-weight: 500;
  }
  .confirmCartItemsContainer2 > div > a {
    color: #575757;
    margin: 0 1vmax;
    width: 60%;
    text-decoration: none;
  }
  
  .confirmCartItemsContainer2 > div > span {
    color: #5e5e5e;
  }

  .orderSummary{
    width: 100%;
  }
  
  .orderSummary > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vmax;
  }

  .orderSummary > div > span{
    color: #575757;
    font-weight: 600;
  }
  .orderSummaryTotal{
    padding:10px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.290);
  }

  .paymentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e0e0e2;
    height: 90vh;
    position: fixed;
    top: 11%;
    left: 40%;
  }
  
  .paymentForm {
    padding: 4vmax 5vmax;
    background-color: white;
    width: 30vw;
    height: 75vh;
    border-radius: 2%;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    right: 13%;
  }
  
  .paymentForm > p {
    font: 400 2vmax;
    color: rgba(0, 0, 0, 0.753);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 1vmax 0;
    text-align: center;
    width: 50%;
    margin: auto;
  }
  
  .paymentForm > div {
    display: flex;
    align-items: center;
    margin: 2vmax 0;
  }
  
  .paymentInput {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    outline: none;
  }
  
  .paymentForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  .paymentFormBtn {
    border: none;
    background-color: rgb(31, 31, 31);
    color: white;
    font: 300 0.9vmax;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
  }
  
  .paymentFormBtn:hover {
    background-color: rgb(21, 21, 21);
  }
  
 